In [ ]:
n=int(input("Enter a num :"))
if(n%2==0):
  print("{0} is even number".format(n))
else:
  print("{0} is an odd number".format(n))

Enter a num :8
8 is even number

In [ ]:
fact=1
num=7
if num<0:
  print("sorry, factorials not exist")
elif num==0:
  print("The facorials of 0 is 1")
else:
  for i in range(1, num+1):
    fact=fact*1
  print("the fact of ", num,"is", fact)

the fact of  7 is 1

In [ ]:
n=7
fact=1
if n<0:
  print("nill")
elif n==0:
  print("The factorials of 0 is 1")
else:
  for i in range(1,n+1):
    fact=fact*i
  print("the factorials of", n, "is", fact)

the factorials of 7 is 5040

In [ ]:
n=4
f=1
if n==0:
  print("nill")
else:
  for i in range(1, n+1):
    f=f*i
  print("factorials",n,"is" ,f)

factorials 4 is 24

In [12]:
n
f=1
if n==0:
  print("nill")
else:
  for i in range(1, n+1):
    f=f*i
  print("factorials",n,"is" ,f)

factorials 4 is 24

In [13]:
n=4
f=1
if n==0:
  print("nill")
else:
  for i in range(1, n+1):
    f=f*i
  print("factorials",n,"is" ,f)

factorials 4 is 24

In [14]:
num=int(input("How many terms?"))
n1, n2=0,1
sum=0
if num<0:
  print("Please enter the possitive number")
elif num==1:
  print("fibbnocci series of ", num, ":")
  print(n1)
else:
  print("fibbnocci series: ")
  while sum<num:
    print(n1)
    nth=n1+n2
    n1=n2
    n2=nth
    sum+=1

How many terms?8
fibbnocci series:
0
1
1
2
3
5
8
13

In [16]:
num=int(input("enter the number "))
n1=0
n2=1
sum=0
if num==1:
  print("the fibnnoci series ")
else:
  print("fobnnoci series")
  while sum<num:
    print(n1)
    nth=n1+n2
    n1=n2
    n2=nth
    sum+=1

enter the number 4
fobnnoci series
0
1
1
2

In [17]:
list1=[2,4,5,7,11,16]

In [18]:
print(list1)

[2, 4, 5, 7, 11, 16]

In [22]:
for num in list1:
  if num%2==0:
    print(num, end=" ")

2 4 16

In [26]:
for num in list1:
  if num%2!=0:
    print(num, end=" ")

5 7 11

In [24]:
start, end=4,19
for num in range(start, end+1):
  if num%2==0:
    print(num, end=" ")

4 6 8 10 12 14 16 18

In [25]:
start=int(input(" Enter the number:"))
end=int(input("enter the limit:"))
for n in range(start, end+1):
  if n%2==0:
    print(n, end=" ")

 Enter the number:4
enter the limit:100
4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [27]:
s=10
m=20
for n in range(s, m+1):
  if n%2!=0:
    print(n, end=" ")

11 13 15 17 19